<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("header"); %> 
</head>
<body>
    <h1>
        Hey its tushar .the owner of this page and i am very glad to share this page with you ... stay safe and stay happy</div>
    </h1>
    <%- include("footer"); %> 
</body>
</html>